<div class="footer">

<div class="container">

    <p>GIGAPAN SCHOOL DIALOGUES | diversity and inclusion in the community</p>
    <div id="logos">
    <img src="<%= path_to_image("logos.png")%>" alt="logos">
    </div>
    <p><small>This project was made possible by generous support from the Benedum Foundation and the Pittsburgh Foundation</small></p>
</div>
</div>
