<div class="footer">

<div class="container">

    <p>GIGAPAN SCHOOL DIALOGUES | diversity and inclusion in the community</p>

    <p><small>This project is being developed as a senior project at Western Michigan University</small></p>
</div>
</div>
