<header class="navbar navbar-default ">
      <div class="container">
         <%= link_to "GigaPan Education", root_path, id: "logo" %>
        <nav>
          <ul class="nav nav-pills navbar-right">
            <li><%= link_to "Contact",   contact_path %></li>
            <li><%= link_to "Help", help_path %></li>
          </ul>
        </nav>
      </div>
    </header>