<div class="center jumbotron">
  <h1>About</h1>

<% if current_user && current_user.has_role?(:admin)%>
  <h2>

    Welcome Admin

  </h2>
<%end%>
<p>i am a bunch of text about this site, woo.</p>
</div>
