  <h1>Welcome</h1>

  <p>The GigaPan Youth Exchange project combines cultural inquiry, NASA imaging technology, 
  and social media to let secondary-school students experience something of the life of their 
  peers around the world. Using the GigaPan robotic camera and image exploration platform, 
  the group of students are growing into a community of technologically aware young people 
  who are knowledgeable about their own environment and understand and care about the problems 
  their contemporaries face. Welcome to this glimpse into their journey!</p>





