@import "bootstrap-sprockets";
@import "bootstrap";
// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#contact{width: 500px; 
  padding-left: 50px;
  input,  select {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;}
  textarea{height: 125px;
  width: 100%;}
}