@import "bootstrap-sprockets";
@import "bootstrap";
// Place all the styles related to the HeaderPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.helpsec{
    padding-top: 20px;
}


#helpnav p, {
    li{
    font-size: 12pt;
    padding-bottom: 5px;}
}