<%= form_for(@gigapan) do |f| %>
  <% if @gigapan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gigapan.errors.count, "error") %> prohibited this gigapan from being saved:</h2>

      <ul>
      <% @gigapan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
