<h3><%=@project_gigapan.name%></h3>


<a name="comments"></a>
<% @project_gigapan.comments.each do |comment| %>

    <% if comment.parent_id.nil? %>
        <h4><%= comment.user.username %></h4>
        <p><%= comment.content %></p>
        <% if comment.comments.count != 0 %>
            <% comment.comments.each do |comment| %>
                <%= render :partial => 'comment', :locals => {:comment => comment} %>
            <% end %>       
        <% end %>
    <% end %>
    <!--to reply, an action has to be made that is tied to a button. -->
    <!--When the user hits this button, a new comment is made and its parent is set to the comment replied to-->
<% end %>


